<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ partial "seo/description.html" . }}
    {{ partial "seo/opengraph.html" . }}
    <title>
      {{ block "title" . }}
        {{ .Title }} |
        {{ .Site.Title }}
      {{ end }}
    </title>
    {{ partial "seo/canonical.html" . }}
    {{ partial "seo/icons.html" . }}
    <link rel="stylesheet" href="/third-party/fonts/fonts.css" />
    <link
      rel="stylesheet"
      href="/third-party/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/site.css" />
    {{ partial "seo/analytics.html" . }}
  </head>
  <body>
    {{ partial "nav.html" . }}


    <main class="container {{ with .Params.body_class }}{{ . }}{{ end }}">
      {{ block "main" . }}{{ end }}
    </main>

    <script src="/js/nav.js"></script>
    {{ if .Params.include_demo_script }}
      <script src="/js/demo.js"></script>
    {{ end }}
  </body>
</html>
